:root {
    --min-color: #2196f3;
    --secand-color: #009688;
    --third-color: white;
    --min-padding: 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

.game {
    background-color: #eee;
    min-height: 100vh;
}

.container {
    margin: auto;
    max-width: 900px;
}

.name {
    background-color: var(--min-color);
    color: white;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.message {
    background-color: var(--third-color);
    padding: var(--min-padding);
    margin: 15px 0;
    border-radius: 6px;
    text-align: center;
    border-radius: 25px;
}

.message span {
    font-weight: bold;
    color: var(--secand-color);
}

.message span::before {
    content: "[ ";
}

.message span::after {
    content: " ]";
}

.start {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: var(--secand-color);
    color: var(--third-color);
    padding: 20px;
    cursor: pointer;
    border-radius: 25px;
}

.the-word {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: var(--min-color);
    user-select: none;
}

.input {
    margin: 15px 0;
    width: 100%;
    display: block;
    border: 3px solid var(--min-color);
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 6px;
    caret-color: var(--min-color);
}

.input:focus {
    outline: none;
}

.upcoming-words {
    background-color: var(--third-color);
    margin: 15px 0;
    padding: var(--min-padding);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 25px;
}

.upcoming-words div {
    background-color: var(--min-color);
    color: var(--third-color);
    font-weight: bold;
    margin: 4px;
    padding: 10px;
    border-radius: 6px;
}

.control {
    display: flex;
    justify-content: space-between;
    background-color: var(--third-color);
    padding: var(--min-padding);
    border-radius: 25px;
}

.control span {
    font-weight: bold;
    color: var(--secand-color);
}

.finish {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: var(--min-padding);
}

.finish .good {
    color: var(--min-color);
}

.finish .bad {
    color: red;
}

.restart {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: var(--secand-color);
    color: var(--third-color);
    padding: 20px;
    cursor: pointer;
    border-radius: 25px;
}
